* {
    padding:0; 
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:Arial;
    background-color: #ffe7b3;
}

.header {
    display: flex;
    overflow: hidden;
    background-color: #996600;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    width: 25%;
    text-transform: uppercase;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    display: flex;
    width: 96%;
    height: 757px;
    margin: 55px 2% 0 2%;
    border: 2px solid rgb(211, 21, 122);
}

/*I need flexbox system*/
.left_container {
    width: 45%;
    height: 750px;
    float: left;
    border: 5px solid rgb(59, 21, 211);
}

.right_container {
    width: 55%;
    height: 750px;
    border: 5px solid rgb(21, 211, 113);
}

.footer {
    position: fixed;
    bottom:  0;
    width: 100%;
    background-color: #996600;
    color: #ffe7b3;
    text-align: center;
    font-size: 12px;
    padding: 8px 10px;   
}
