* {
    padding:0; 
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:Arial;
    background-color: #ffe7b3;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: #996600;
    padding: 0 10%;
    justify-content: center;
}


.navbtn {
    width: 20%;
    text-transform: uppercase;
    
}

.navbtn a {
    /* float: left; */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 12px;
    margin: 0 20px;
    text-decoration: none;
    font-size: 17px;
    border: 2px solid blue;
    
}
  
.navbtn a:hover {
    background: #ddd;
    color: black;
}

.main {
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 757px;
    margin: 80px 2% 0 2%;
    border: 2px solid rgb(211, 21, 122);
}

/*I need flexbox system*/
.col_left {
    width: 45%;
    height: 750px;
    border: 5px solid rgb(59, 21, 211);
}

.col_right {
    width: 55%;
    height: 750px;
    border: 5px solid rgb(21, 211, 113);
}

.col_left img{
    width: 80%;
    display:block;
   
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 20%;
}

table{
    margin: auto;
    width: 80%;
}

table, th, td {
    border:1px solid black;
  }

#Creativity{
    text-align: right;
    font-size: 50px;
}

.footer {
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    bottom:  0;
    width: 100%;
    background-color: #996600;
    color: #ffe7b3;
    font-size: 12px;
    padding: 8px 10px; 
}

.footer img{
    margin-left: 5px;
}
